<h2 align="center">All Articles</h2>

<% @articles.each do |article| %>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="well well-lg">
				<div class="article-title">
					<%= link_to article.title, article_path(article) %>
				</div>
				<p class="date"><%= "Published #{article.created_at.to_time.strftime('%B %e at %l:%M %p')}" %> by <%= "" %></p>
				<div class="article-body">
					<%= article.description.truncate(100) %>
				</div>
			</div>
		</div>
	</div>
<% end -%>
