<div>
<div id="banner">
	
		<div class="banner_content">
			<h1>Blog</h1>
			<p>A Place where Friends and Family can connect and share</p>
			<%= link_to "Sign Up", signup_path, :class => "button button"%>

		</div>
	
</div>

<div id="testimonial">
	<div class="wrapper">
		<p class="quote"> Share Pictures, Current Happenings, Updates, Anything you find interesting and want to share with the rest</p>
		<p class="name"> - TestUser</p>
	</div>
</div>
  
<div id="callouts">
	<div class="callout_inner">
		<div class="wrapper">
			<div class="callout">
				<i class="fa fa-pencil-square-o fa-2x"></i>				
        <h2>Articles</h2>
        <p>Paste articles you find intersting or Write your own article</p>
			</div>
			<div class="callout">
				<i class="fa fa-picture-o fa-2x"></i>				
        <h2>Pictures</h2>
        <p>Share Pictures with family and friends</p>
			</div>
			<div class="callout">
				<i class="fa fa-bolt fa-2x"></i>
        <h2>Updates</h2>
        <p>Share Pictures with family and friends</p>
			</div>
		</div>
	</div>
</div>
<div id="bottom_cta">
	<div class="wrapper">
		<h2>For Real?</h2>
		<p>Let others know what is happening. Updates you want to share. Come accross an intersting article or heard something you want to share post it as an article.</p>		
	</div>
</div>
<footer style:"color: #2B2E2E;">
	<p style:"color: black;">&copy; Ruby on Rails 2016</p>
</footer>
</div>