$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$green: #33CD99;

@mixin bold_font {
	font-family: 'Lato','Roboto', "Brandon Grotesque", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
  padding-top: 50px;
}
button, .button {
	border: none;
	outline: none;
	background: $green;
	padding: 1rem 3.5rem;
	border-radius: 2rem;
	color: white;
	text-decoration: none !important;
	.hover {
		color: white !important;
		text-decoration: none;
	}
}
#logo {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold
}
#banner {
	background-image: asset-url("background1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	height: 300px;
	display: table;
	.banner_content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
		h1 {
			@include bold_font;
			color: white;
			font-size: 3.5rem;
			margin: 0;
		}
		p {			
			font-size: 1.5rem;
			margin: 0 0 2.5rem 0;
			color: rgba(250, 250, 250, 0.5);
		}
	}
}

#testimonial {
	text-align: center;
	padding: 7.5rem 0;
	
	font-size: 1.5rem;
	height: 300px;
	color: #afb0b0;
	
	.quote {
		margin: 0 0 .5rem 0;
	}
	.name {
		@include bold_font;
		color: $dark_gray;
		margin: 0;
		font-size: 1.85rem;
	}
}

#callouts {

	
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	height: 300px;
	display: table;
	.callout_inner {
		display: table-cell;
		vertical-align: middle;
	}
	.callout {
		text-align: center;
		width: 33.3333%;
		padding: 1.5rem 2.5%;
		float: left;
		i {			
			color: $green;
		}
		h2 {
			@include bold_font;
			color: $dark_gray;
			margin-bottom: 0;
		}
		p {
			color: #777;
		}
	}
}

#bottom_cta {
	text-align: center;
	padding: 7.5rem 0;
	h2 {
		@include bold_font;
		color: $dark_gray;
		font-size: 3rem;
		margin: 0;
	}
	p {
			font-size: 1.25rem;
			margin: 0 0 2.5rem 0;
			color: #a7a8a8;
		}
}
footer {
	background: $dark_gray;
	width: 100%;
	padding: 2rem 0;
	color: white;
	text-align: center;
	@include bold_font;
	p {
		margin: 0;
		font-size: .85rem;
	}
}
.date {
      margin-top: .25rem;
      font-size: 1.5rem;
      color: #B2BAC2;
}
.article-actions {
	text-align: center;
	
	.date {
		text-align: left;

	}
	.article-btn {
		color: #397CAC;
	  border: 1px solid #397CAC;
	  padding: .5em 1em;
	  border-radius: 0.2em;
	  text-decoration: none;
	  margin-right: 2%;
	}
} 
.article-title {	
	font-size: 1.5em;	
	text-decoration-style: none !important;
}
.listing {
	list-style: none;
	padding-left: 0;
}
.image {
    margin: auto;    
    align: middle;		
}
.badge {
	background-color: #A7F2F5 !important;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
.input_checkbox input {
	width: auto !important;
}
.category-btn {
	color: #397CAC;
  border: 1px solid #397CAC;
  padding: .5em 1em;
  border-radius: 0.2em;
  text-decoration: none;
  margin-right: 2%;
}
.pull-right {
	margin-bottom: 20px;
	margin-right: 50px;

}
