<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <span class="err_msg">
      <% flash.each do |name, msg|%>
        <div class='alert alert-<%="#{name}" %>'>
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div>
      <% end -%>
    </span>
    <script>
      setTimeout("$('.err_msg').fadeOut('slow')", 5000)
    </script>
  </div>
</div>